body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333333;
    background-color: rgb(201, 198, 216);
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    justify-content: space-between;
  }
  
  header h1 {
    margin: 0;
    transition: color 0.3s ease;
}

header h1:hover {
    color: #e8491d;
}
  
section {
  padding: 30px 10%;
  background: #030ae5;
  border-bottom: #5211dd 2px solid;
  margin-bottom: 10px;
}

  section ul li {
    display: inline;
    margin-right: 5px;
    background: #35424a;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
}

section ul li:hover {
  background: #e8491d;
}

  #about1 {
    background-color:#bcc9ef;
    text-align: center;
    padding: 1px;
  }
  #about {
    background-color:#bcc9ef;
    text-align: center;
    padding: 20px;
  }
  
  #about img {
    width: 160px;
    border-radius: 30%;
  }
  
  #skills {
    background-color:#bcc9ef;
    text-align: center;
    padding: 10px 0;
  }
  
  #skills ul {
    list-style: none;
  }
  
  #projects {
    background-color:#bcc9ef;
    text-align: center;
    padding: 20px;
    float:none;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
  .project img {
    max-width: 320px;
    border-radius: 5px;
  }
  
  #resume,

  #contact {
    background-color:#bcc9ef;
    text-align: center;
    padding: 15px;
  }
  
  #resume a {
    background-color:#f97a64;
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: #e8491d 3px solid;
  }

  
footer p {
  margin: 0;
}




